nav {
  text-align: center;
  padding-top: 10px;
}

a {
  color: brown;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav > a {
  padding: 3px;
  margin: 3px;
  border: 1px solid rgba(165, 42, 42, 0.371);
  border-radius: 3px;
}

nav > a:hover {
  background-color: burlywood;
}

.error {
  background-color: rgb(255, 220, 220);
  color: red;
  border-radius: 3px;
}
